/*.row:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.col-md-6:not(:last-child) {
    border-right: 1px solid #ccc;
}
*/

#allowed_entities {
    width: 435px;
    overflow: auto;
    height: 250px;
}

.sidebar-jumbotron {
    padding-left: 38px !important;
    padding-right: 38px !important;
}

.navbarPadding {
    padding-left: 25px;
    padding-right: 25px;
}

.min-height {
    min-height: 500px;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/* for animation for when it updates */
@-webkit-keyframes fadeOut {
    0%   { background-color: #5bc0de; }
    80%   { background-color: #5bc0de; }
    100% { background-color: #00FFFFFF; }
}
@-moz-keyframes fadeOut {
    0%   { background-color: #5bc0de; }
    80%   { background-color: #5bc0de; }
    100% { background-color: #00FFFFFF; }
}
@-o-keyframes fadeOut {
    0%   { background-color: #5bc0de; }
    80%   { background-color: #5bc0de; }
    100% { background-color: #00FFFFFF; }
}
@keyframes fadeOut {
    0%   { background-color: #5bc0de; }
    80%   { background-color: #5bc0de; }
    100% { background-color: #00FFFFFF; }
}

.UpdateNotify {
    -webkit-animation: fadeOut 10s ease-out;
    -moz-animation: fadeOut 10s ease-out;
    -o-animation: fadeOut 10s ease-out;
    animation: fadeOut 10s ease-out;
}